.vscode
generated
build

# External Dependency
PicoLED
elf2uf2
pico-sdk
pioasm

# Executables
*.bin
*.dis
*.elf
*.uf2
*.elf.map
*.hex
*.pio.h
compile_commands.json

# CMake
cmake_install.cmake
CMakeFiles
CMakeCache.txt
Makefile